<div class="container-fluid no-breadcrumbs page-dashboard" style="padding-top:60px;">
  <app-price-comparison>

  </app-price-comparison>

  <br>
  <mat-card *ngIf='activedepot'>
    <mat-card-title>Current Prices</mat-card-title>
    <mat-card-content>
      <form [formGroup]="spPricesform">

        <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div *ngFor='let pricetype of fueltypesArray' class="mat-elevation-z2" fxFlex>
            <span class="color-{{pricetype}}">{{pricetype | uppercase}}</span>
            <mat-form-field class="full-width">
              <input formControlName="{{pricetype}}" matInput name='{{pricetype}}Price'
                placeholder="{{activedepot.config.price[pricetype].price }}" required type="number">
              <span [matTooltipPosition]="position2" class="nav-icon nav-dot material-icons color-{{pricetype}}"
                matPrefix matTooltip='{{pricetype}}'>local_gas_station</span>
              <mat-spinner *ngIf='saving' [diameter]="19" matPrefix></mat-spinner>
              <button (click)='addprice(pricetype)' [disabled]="saving" mat-icon-button matSuffix type="button">
                <span [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-{{pricetype}}"
                  matTooltip="Set Price">check_circle</span>
              </button>
              <mat-hint *ngIf='!saving' align="start">
                <i> Last edited by {{activedepot.config.price[pricetype].user?.name || 'Never Edited'}} |
                  {{activedepot.config.price[pricetype].user?.time?.toDate() | date: 'short'}}</i>
              </mat-hint>
              <mat-error>
                Min price is <strong>{{activedepot.config.price[pricetype].minPrice }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>

    </mat-card-content>
    <mat-card-title>Tax Exempt</mat-card-title>
    <mat-card-content>
      <form [formGroup]="taxconfigform">
        <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div *ngFor='let pricetype of fueltypesArray' class="mat-elevation-z2" fxFlex>
            <span class="color-{{pricetype}}">{{pricetype | uppercase}}</span>
            <mat-form-field class="full-width">
              <input formControlName="{{pricetype}}" matInput name='{{pricetype}}Price'
                placeholder="{{currentOmcConfig.taxExempt[env][pricetype].amount}}" required type="number">
              <span [matTooltipPosition]="position2" class="nav-icon nav-dot material-icons color-{{pricetype}}"
                matPrefix matTooltip='{{pricetype}}'>local_gas_station</span>
              <mat-spinner *ngIf='saving' [diameter]="19" matPrefix></mat-spinner>
              <button disabled hidden mat-icon-button matSuffix type="button">
                <span [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-{{pricetype}}"
                  matTooltip="Set Price">check_circle</span>
              </button>
              <mat-hint *ngIf='!saving' align="start">
                <i>Last Edited on </i> {{currentOmcConfig.taxExempt[env][pricetype].MetaData?.LastUpdatedTime}}
              </mat-hint>
              <mat-error>
                this field is <strong>Required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>

    </mat-card-content>
    <br>
    <mat-card-title>Average Prices</mat-card-title>
    <mat-card-content>
      <form [formGroup]="avgpricesform">
        <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div *ngFor='let pricetype of fueltypesArray' class="mat-elevation-z2" fxFlex>
            <span class="color-{{pricetype}}">{{pricetype | uppercase}}</span>: <span
              class="color-{{pricetype}}">{{avgprices[pricetype].total / avgprices[pricetype].prices.length | number : '1.2-2'}}</span>
            <mat-form-field class="example-full-width">
              <input [matAutocomplete]="auto" aria-label="Number" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedOMC" matInput placeholder="OMC" type="text">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let omc of omcs" [value]="omc">
                  {{omc.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="standard" class="full-width">
              <input formControlName="{{pricetype}}" matInput name="{{pricetype}}Price"
                placeholder="{{pricetype | uppercase}} Average Price" required min="40" type="number">

              <span [matTooltipPosition]="position2" class="nav-icon nav-dot material-icons color-{{pricetype}}"
                matPrefix matTooltip='{{pricetype}}'>local_gas_station</span>
              <button (click)='addavgprice(pricetype)' [disabled]="saving " mat-icon-button matSuffix type="button">
                <span [matTooltipPosition]="position3" class="nav-icon nav-dot material-icons color-{{pricetype}}"
                  matTooltip="Add Average Price">check_circle</span>
              </button>
              <mat-hint align="start">
                <i> Last edited by {{avgprices[pricetype].prices[0]?.user.name || 'Never Edited'}} |
                  {{avgprices[pricetype].prices[0]?.user?.time?.toDate() | date: 'short'}}</i>
              </mat-hint>
            </mat-form-field>


            <table *ngIf="omcs.length>0" class="container-fluid" style="width: 100%">
              <tbody>
                <tr *ngFor="let values of avgprices[pricetype].prices ; let i = index">
                  <td>
                    <span class="avg-prices ">
                      <strong>{{values.price}}</strong>
                    </span>
                  </td> &nbsp;
                  <td>
                    {{values.omcId | getomc }}
                  </td>
                  <td>
                    <small>
                      {{values.user.name}}
                    </small>
                  </td>
                  <td>
                    <small>
                      {{values.user.time?.toDate() | date: 'shortTime' }}
                    </small>
                  </td>
                  <td class="pull-right">
                    <button (click)="deleteavg(values)" [matTooltipPosition]="position2" mat-icon-button
                      matTooltip="Delete" type="button">
                      <span class="nav-icon nav-dot material-icons color-danger btn-sm">delete_sweep</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div *ngIf='!activedepot'>
    <mat-progress-spinner></mat-progress-spinner>
  </div>
</div>