<!-- <legend matDialogTitle> </legend> -->
<mat-dialog-content>

  <!--
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex>
      <mat-form-field class="full-width">
        <input matInput disabled placeholder="Company Name" name="companyName" value="companyName">
        <mat-icon matPrefix>account_balance</mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input matInput disabled placeholder="Contact Name" name="contactName" value="contactName">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input matInput disabled placeholder="Phone number" exampledata="tel" name="companyPhone" value="companyPhone">
        <mat-icon matPrefix>phone </mat-icon>
        <span matPrefix> &nbsp; +254 &nbsp;</span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input matInput disabled placeholder="Customer Email" exampledata="email" name="companyEmail" value="order.companyEmail">
        <mat-icon matPrefix>email</mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
  </div> -->
  <!-- *ngIf="!fullyLoaded" -->
  <div class="container blue-bg" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>
      <div class="">
        <mat-select (ngModelChange)="setDepot(depot)" [(ngModel)]="depot" class="full-width mat-input-custom1"
                    name="depot"
                    placeholder="Depot">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let depot of depots" [value]="depot.$key">{{depot.name}} </mat-option>
        </mat-select>
      </div>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #truckDN #truckDriverName="ngModel" (input)="truckDN.value=$event.target.value.toUpperCase()"
               [(ngModel)]="truck.driverName" matInput
               name="driverName" placeholder="Driver Name" required>
      </mat-form-field>
      <mat-error *ngIf="truckDriverName.errors?.required && truckDriverName.touched">
        Driver Name <strong>required</strong>
      </mat-error>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #truckDriverId="ngModel" [(ngModel)]="truck.driverId" matInput name="driverId" placeholder="Driver ID"
               required>
      </mat-form-field>
      <mat-error *ngIf="truckDriverId.errors?.required && truckDriverId.touched">
        Driver ID <strong>required</strong>
      </mat-error>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <!-- #truckReg (input)="truckReg.value=$event.target.value.toUpperCase()" -->
        <input #truckReg="ngModel" [(ngModel)]="truck.truckReg" [textMask]="{mask: mask}" matInput name="truckReg"
               placeholder="Number Plate" required style="text-transform:uppercase;">
      </mat-form-field>
      <mat-error *ngIf="truckReg.errors?.required && truckReg.touched">
        Truck Plates <strong>required</strong>
      </mat-error>

    </div>
    <div fxFlex>
      <div class="mat-input-custom1">
        <button (click)="loadCompartments()" class="btn btn-primary btn-block">LOAD</button>
      </div>
    </div>
  </div>
  <!-- <span *ngIf="fullyLoaded" class="fa fa-thumbs-up alert alert-success">Order fully Loaded</span> -->

  <br>
  <table class="table blue-bg">
    <thead class="thead-primary">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Depot</th>
      <th>Driver Name</th>
      <th>Driver ID</th>
      <th>Number Plate</th>
      <th>Status</th>
      <th>
        <mat-icon class="nav-icon nav-dot material-icons color-black" matPrefix matTooltip="PMS">fiber_manual_record
        </mat-icon>
      </th>
      <th>
        <mat-icon class="nav-icon nav-dot material-icons color-warning" matPrefix matTooltip="AGO">fiber_manual_record
        </mat-icon>
      </th>
      <th>
        <mat-icon class="nav-icon nav-dot material-icons color-success" matPrefix matTooltip="IK">fiber_manual_record
        </mat-icon>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let truck of trucks ">
      <td>{{truck[1].truckId}}</td>
      <td>{{truck[1].createdTime | date: 'short'}}</td>
      <td>{{truck[1].depotName}}</td>
      <td>{{truck[1].driverName}}</td>
      <td>{{truck[1].driverId}}</td>
      <td>{{truck[1].truckReg}}</td>
      <td *ngIf="(truck[1].stage == 4)">Pending</td>
      <td *ngIf="(truck[1].stage == 4.1)">Processing</td>
      <td *ngIf="(truck[1].stage == 4.2)">Queued</td>
      <td *ngIf="(truck[1].stage == 4.3)">Loading</td>
      <td *ngIf="(truck[1].stage == 4.4)">Done</td>
      <td>{{truck[1].pmsQty}}</td>
      <td>{{truck[1].agoQty}}</td>
      <td>{{truck[1].ikQty}}</td>

    </tr>

    </tbody>
  </table>
  <hr>
</mat-dialog-content>
<hr>
<button class="btn btn-danger btn-block" matDialogClose>DISMISS</button>
