legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  // color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.mat-input-custom {
  padding: 0.18em 0;
  border-top: 0.84375em solid transparent;
}

.mat-input-custom1 {
  padding: 0.18em 0;
  border-top: 0.54375em solid transparent;
}

.table thead th {
  // background-color: #2196F3;
  border-color: #2196F3;
  // color: white;
  vertical-align: middle;
  text-align: center;
}

.color-black {
  color: black;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.katikati {
  text-align: center;
}

.vertical {
  vertical-align: middle;
}

//Background Shades
.blue-bg {
  background-color: rgba(6, 174, 228, 0.1);
  color: wheat;
}

.yellow-bg {
  background-color: rgba(251, 241, 22, 0.5);
}

.product-bg {
  background-color: rgba(0, 50, 200, 0.1);
  color: white;
  font-weight: 500px;
}

.price-bg {
  background-color: rgba(30, 100, 108, 0.1);
}


/deep/ .mat-dialog-container {
  height: auto;
  background-image: url("../../../assets/images/home-modal.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
} 
