<mat-dialog-content>
    <div class="table-responsive">
        <table class="table table-stripped">
            <thead class="thead-primary">
            <tr>
                <th>#</th>
                <th>
                    <i aria-hidden="true" class="fa fa-picture-o"></i>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody class="faded-bg">
            <tr *ngFor="let member of family;let i = index">
                <td>{{i + 1}}</td>
                <td><img alt="" class="rounded chat-img" src="{{getimage(member.photoURL)}}"></td>
                <td>{{member.userName}}</td>
                <td>{{member.email}}</td>
                <td>{{getStatus(member.approved)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-dialog-content>
