@import "../admin";

.table thead th {
  background-color: $mk-primary;
  border-color: $mk-primary;
  color: $mk-white;
  vertical-align: middle;
  text-align: center;
}

.thead-primary {
  background-color: $mk-primary;
  border-color: $mk-primary;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid rgba($mk-black, 0.1);
}
