<div>
  <div class="col-md-6">
    <button [matMenuTriggerFor]="mymenu" [matTooltipPosition]="position2" class="btn btn-primary"
            matTooltip="Change Depot"
            type="button">
                <span><i aria-hidden="true"
                         class="fa fa-ellipsis-v color-secondary"></i> {{activedepot.Name}}</span>
    </button>
  </div>
  <mat-menu #mymenu="matMenu">
    <button (click)='changeactivedepot(depot)' *ngFor='let depot of alldepots; let i = index'
            [disabled]='depot.Id === activedepot.Id'
            mat-menu-item>
      <mat-icon>local_gas_station</mat-icon>
      <span [ngClass]="{ 'color-danger' : depot.sandbox}">{{depot.Name}}</span>
    </button>
  </mat-menu>
  <div class="top-nav-right">
    <!--{{firestore.connectionStatus.value === true ? 'Online ' : 'Offline'}}-->
    <ul class="list-unstyled float-right">
      <li>
        <br>
        <button [matMenuTriggerFor]="menu" class="btn btn-lg" mat-button
                style="background-image: {{userdata.data.photoURL}};">
          <!--<img *ngIf="isLoggedIn" src={{firestore.userdata.data.photoURL}} alt="" class="rounded img30_30">-->
          <i *ngIf="connectionStatus" class="fa fa-caret-down color-yellow"></i>
          <i *ngIf="!connectionStatus" class="fa fa-caret-down color-red"></i>
          <mat-menu #menu="matMenu">
              <span mat-menu-item>
                <img alt="" class="rounded img30_30" src="{{userdata.data.photoURL}}">
                {{userdata.data.name}}
              </span>
            <hr>
            <!-- <button mat-menu-item [routerLink]="['/admin/account-details']">My Account</button> -->
            <button (click)="onLogoutClick()" mat-menu-item>
                <span class="pull-right">
                  <i aria-hidden="true" class="fa fa-sign-out"></i> Log Out </span>
            </button>
          </mat-menu>
        </button>
      </li>

    </ul>
  </div>
</div>

<mat-card-title>Average Prices</mat-card-title>
<mat-card-content>
  <form [formGroup]="avgpricesform">
    <div class="" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div *ngFor='let pricetype of fueltypesArray' class="mat-elevation-z2" fxFlex>
        <span class="color-{{pricetype}}">{{pricetype | uppercase}}</span>: <span
        class="color-{{pricetype}}">{{avgprices[pricetype].total / avgprices[pricetype].prices.length | number : '1.2-2'}}</span>
        <mat-form-field appearance="standard" class="full-width">
          <input formControlName="{{pricetype}}" matInput name="{{pricetype}}Price"
                 placeholder="{{pricetype | uppercase}} Average Price" required
                 type="number">
          <span [matTooltipPosition]="position2" class="nav-icon nav-dot material-icons color-{{pricetype}}"
                matPrefix
                matTooltip='{{pricetype}}'>local_gas_station</span>
          <button (click)='addavgprice(pricetype)' [disabled]="saving" mat-icon-button matSuffix type="button">
              <span [matTooltipPosition]="position3" class="nav-icon nav-dot material-icons color-{{pricetype}}"
                    matTooltip="Add Average Price">check_circle</span>
          </button>
          <mat-hint align="start">
            <i> Last edited by {{avgprices[pricetype].prices[0]?.user.name || 'Never Edited'}} |
              {{avgprices[pricetype].prices[0]?.user?.time?.toDate() | date: 'short'}}</i>
          </mat-hint>
        </mat-form-field>
        <table class="container-fluid">
          <tbody>
          <tr *ngFor="let values of avgprices[pricetype].prices ; let i = index">
            <td>
              <button (click)="deleteavg(values)" *ngIf='values.user.uid===userdata.data.uid'
                      [matTooltipPosition]="position2"
                      mat-icon-button matTooltip="Delete" type="button">
                <span class="nav-icon nav-dot material-icons color-danger btn-sm">delete_sweep</span>
              </button>
            </td>&nbsp;
            <td>
                  <span class="avg-prices ">
                    <strong>{{values.price}}</strong>
                  </span>
            </td> &nbsp;
            <td>
              <small> {{values.user.name }}</small>
            </td>
            <td>
              <small>@ {{values.user.time?.toDate() | date: 'shortTime' }}</small>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</mat-card-content>
