@import "./../../admin";

.order-title {
  text-align: center;
  font-weight: bold;
  color: $mk-primary;
  font-size: 16px;
}

.order-title1 {
  font-weight: bold;
  color: $mk-primary;
  font-size: 15px;
}

.vat-title1 {
  color: $mk-primary;
  font-weight: bold;;
}

.vat-title {
  text-align: center;
}

.label {
  // display: inline;
  // padding: .2em .6em .2em;
  font-size: 100%;
  font-weight: 700;
  // line-height: 1;
  // color: $mk-white;
  text-align: center;
  // white-space: nowrap;
  // vertical-align: middle;
  // border-radius: .2em;
  // width: 50%;
  &-pms {
    color: $mk-pms;
  }

  &-ago {
    color: $mk-ago;
  }

  &-ik {
    color: $mk-ik;
  }

  &-def {
    background-color: $mk-default;
    display: block;
  }
}

.btn {
  &-def {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $mk-info;
    color: $mk-white;
    font-weight: bold;
    // border-radius: .0em;
  }

  &-pms {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $mk-pms;
    color: $mk-white;
  }

  &-ago {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $mk-ago;
    color: $mk-white;
  }

  &-ik {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $mk-ik;
    color: $mk-white;
  }

  &-blue {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $mk-primary;
    color: $mk-white;
    font-weight: bold;
    // border-radius: .0;
  }

  &-default {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $mk-default;
    color: $mk-white;
    font-weight: bold;
  }

  &-default:disabled {
    color: grey;
  }

  &-default1 {
    width: auto;
    background-color: $mk-default;
    color: $mk-white;
    font-weight: bold;
  }

  &-yellow {
    display: block;
    left: 0;
    top: 0;
    width: 50%;
    background-color: $mk-secondary;
    color: $mk-black;
    font-weight: bold;
  }
}

.depot-price {
  font-size: 14px;
}

.rangi {
  &-pms {
    color: $mk-pms;
    font-size: 17px;
    font-weight: bolder;
  }

  &-ago {
    color: $mk-ago;
    font-size: 17px;
    font-weight: bolder;
  }

  &-ik {
    color: $mk-ik;
    font-size: 17px;
    font-weight: bolder;
  }
}

.color {
  &-pms {
    color: $mk-pms;
  }

  &-ago {
    color: $mk-ago;
  }

  &-ik {
    color: $mk-ik;
  }
}

.color-blue {
  color: $mk-primary;
  font-size: 20px;
}

.fuel-total {
  text-align: center;
}

.fuel-totals {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  // text-decoration: underline;
}

.grand-total {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
}

.p-comp {
  padding-right: 15px;
}

.zero-top {
  padding-top: 0px;
}

.container-fluid {
  padding: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  color: $mk-default;
  text-align: center;
}

mat-panel-title {
  font-weight: bold;
}

.expansion-title {
  position: absolute;
  right: 50%;
  font-weight: bolder;
  color: $mk-default;
  font-weight: 20px;
}

.expansion-depot {
  color: $mk-default;
}

th {
  color: $mk-default;
}


/deep/ .mat-form-field-appearance-legacy .mat-form-field-infix {
  text-align: center;
}

/deep/ .table thead th{
  text-align: center;
}

/deep/ .table td{
  text-align: center;
}