<legend>Send {{ customers.length > 1 ? "Bulk" : "" }} SMS</legend>
<mat-dialog-content>
  <div class="container">
    <div *ngIf="customers.length > 1; else single">
      Selected companies : (Deleted Companies are automatically omitted)
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let customer of customers"
          [color]="
            validatephone(customer.contact[0].phone) ? 'primary' : 'warn'
          "
          selected
        >
          {{ customer.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
    <ng-template #single>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              disabled
              matInput
              name="companyName"
              placeholder="Company Name"
              value="{{ baseSms.company.name }}"
            />
            <mat-icon matPrefix>account_balance</mat-icon>
            <span matPrefix> &nbsp; </span>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              disabled
              matInput
              name="contactName"
              placeholder="Contact Name"
              value="{{ baseSms.contact[0]?.name }}"
            />
            <mat-icon matPrefix>perm_identity</mat-icon>
            <span matPrefix> &nbsp; </span>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              disabled
              matInput
              name="companyPhone"
              placeholder="Phone number"
              type="tel"
              value="{{ baseSms.contact[0]?.phone }}"
            />
            <mat-icon matPrefix>phone</mat-icon>
            <span matPrefix> &nbsp; +254 &nbsp;</span>
          </mat-form-field>
        </div>
      </div>
    </ng-template>

    <form class="">
      <mat-form-field class="full-width">
        <textarea
          [(ngModel)]="baseSms.greeting"
          matInput
          name="greeting"
          placeholder="Greeting"
        ></textarea>
      </mat-form-field>
      <p>ID {{ this.baseSms.company.QbId }}</p>
      <mat-form-field class=" full-width">
        <textarea
          [(ngModel)]="baseSms.msg"
          matInput
          name="message"
          placeholder="Text Content"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea
          [(ngModel)]="baseSms.type.reason"
          matInput
          name="reason"
          placeholder="SMS Reason"
        ></textarea>
      </mat-form-field>
    </form>
  </div>

  <div>
    <button
      [disabled]="saving"
      class="float-left"
      color="warn"
      mat-stroked-button
      matDialogClose
    >
      DISMISS
    </button>
    <mat-spinner *ngIf="saving" [diameter]="27"></mat-spinner>
    <button
      (click)="sendSMS()"
      [disabled]="saving"
      class="float-right"
      color="primary"
      mat-stroked-button
    >
      SEND
    </button>
  </div>
</mat-dialog-content>
