agm-map {
  height: 450px;
}

.half-width {
  width: 48%;
}

.full-width {
  width: 97.5%;
}

.mat-form-field {
  margin-right: 8px;
}

/deep/ .mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}