@import "../_admin";

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: $mk-black;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
