<form [formGroup]="contactForm">
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex>

            <mat-form-field class="full-width">
                <input formControlName="companyName" [matAutocomplete]="auto" aria-label="Company Name" matInput
                    placeholder="Company name" type="text">
                <!-- <mat-hint *ngIf="companyInfo.newcompany">
                    <strong>A NEW COMPANY BY THIS NAME WILL BE CREATED</strong>
                </mat-hint> -->
                <mat-icon matPrefix> account_balance</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option (onSelectionChange)="companyselect(option)"
                        *ngFor="let option of filteredCompanies | async" [value]="option.name">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-spinner *ngIf='loadingcustomers' [diameter]="19" matSuffix></mat-spinner>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <input formControlName="name" matInput name="contactName" placeholder="Contact Name"
                    style="text-transform:uppercase;">
                <mat-icon matPrefix>perm_identity</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-error>
                    Please enter a
                    <strong>valid</strong> contact name (At least 4 letters)
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <input formControlName="phone" matInput maxlength="9" minlength="9" name="companyPhone"
                    placeholder="Phone number" type="tel">
                <mat-icon matPrefix>phone</mat-icon>
                <span matPrefix> &nbsp; +254 &nbsp;</span>
                <mat-error>
                    Please enter a
                    <strong>valid</strong> telephone number
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <input #orderCompanyEmail formControlName="email" matInput placeholder="Company Email" type="email">
                <mat-icon matPrefix>email</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-error>
                    Valid Company Email
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <!--  #kraPin (input)="kraPin.value=$event.target.value.toUpperCase()" -->
                <input #kraControl formControlName="kraPin" matInput placeholder="KRA PIN"
                    style="text-transform:uppercase;" type="text">
                <mat-icon matPrefix>payment</mat-icon>
                <span matPrefix> &nbsp; P &nbsp;</span>
                <mat-error>
                    KRA PIN
                    <strong>required</strong>
                </mat-error>

            </mat-form-field>
        </div>
    </div>
</form>