<mat-card class="chat-header">
  <span class="chat-header-title">{{loggedinUserName}}</span>
  <span>
    <!-- <small><i class="fa fa-circle color-success" aria-hidden="true"></i> ONLINE</small> -->
  </span>
  <mat-card-subtitle class="chat-sub"></mat-card-subtitle>
</mat-card>
<mat-card>
  <mat-card-content>
    <div class="container no-gutters chat-height chat-bg">
      <div *ngFor="let chat of chats" class="">
        <div>
          <div class="row">
            <div class="col-sm-1">
              <img class="rounded chat-img float-right" matTooltip='Last Seen: 00:00'
                   src="{{admins[chat.uid].photoURL}}">
            </div>
            <div class="col-sm-11 no-gutters chat-user-content">
              <!-- <span class="chat-title chat-user">{{chat.username}}</span> -->
              <!-- <span *ngIf="admins[chat.uid]==loggedinUser" class="badge badge-primary">{{chat.username}}</span>
              <span *ngIf="admins[chat.uid]!=loggedinUser" class="badge badge-default">{{chat.username}}</span> -->
              <span [ngSwitch]="admins[chat.uid].status">
                <span *ngSwitchCase="'online'" [matTooltipPosition]="position" class="badge badge-success"
                      matTooltip='Online'>
                  {{chat.username}}
                  <i class="fa fa-check-circle"></i>
                </span>
                <span *ngSwitchCase="'offline'" [matTooltipPosition]="position" class="badge badge-danger"
                      matTooltip='Offline'>
                  {{chat.username}}
                  <i class="fa fa-times-circle"></i>
                </span>
                <span *ngSwitchCase="'idle'" [matTooltipPosition]="position" class="badge badge-info" matTooltip='Idle'>
                  {{chat.username}}
                  <i class="fa fa-minus-circle"></i>
                </span>
                <span *ngSwitchDefault [matTooltipPosition]="position" class="badge badge-default" matTooltip='Unknown'>
                  {{chat.username}}
                  <i class="fa fa-exclamation-circle"></i>
                </span>
              </span>
              <span class="float-right chat-time">
                <small>
                  <i aria-hidden="true" class="fa fa-clock-o"></i> {{timedifference(chat.time)}}</small>
              </span>
              <br>
              <p class="chat-border">{{chat.msg}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-10">
            <mat-form-field class="full-width">
              <input [(ngModel)]="newmsg" matInput name="newmsg" placeholder="Type your message here..." required>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <button (click)="sendmsg()" class="btn-blue btn-block" id="btn-chat" mat-button>SEND</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions></mat-card-actions>
  <mat-card-footer></mat-card-footer> -->
</mat-card>
