.home-body {
  //   height: auto;
  min-height: 100%;
  background-color: #333;
  background-image: url("../../../assets/images/home-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //   color: #fff;
  //   text-align: center;
  //   text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.home-header {
  padding-top: 50px;
  text-align: left;
}

.home-greeting {
  text-align: left;
  padding-top: 20px;
  color: #fff;
}

//Background Shades
.blue-bg {
  background-color: rgba(6, 174, 228, 0.1);
  color: wheat;
}

.yellow-bg {
  background-color: rgba(251, 241, 22, 0.5);
}

.product-bg {
  background-color: rgba(0, 50, 200, 0.1);
  color: white;
  font-weight: 500px;
}

.price-bg {
  background-color: rgba(30, 100, 108, 0.2);
}

.color-black {
  color: black;
}

.chat-img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.white {
  color: #fff;
}
