<div class="home-body">
  <emkay-family></emkay-family>
  <div class="container">
    <div class="home-header">
      <img alt="Emkay Logo" class="img-responsive" src="../../assets/images/home-header.png">
    </div>
    <br>
    <mat-card class="blue-bg">
      <mat-card-content>
        <div class="table-responsive">
          <table class="table table-stripped product-bg">
            <thead class="thead-primary price-bg">
            <tr>
              <th><i aria-hidden="true" class="fa fa-picture-o"></i></th>
              <th>Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of members">
              <td><img alt="" class="rounded chat-img" src="{{getimage(member.photoURL)}}"></td>
              <td>{{member.userName}}</td>
              <td>{{member.email}}</td>
              <td class="white">
                <mat-form-field>
                  <mat-select [(ngModel)]="member.approved" name="status" placeholder="Status">
                    <mat-option *ngFor="let verify of verified" [(value)]="verify.value">
                      {{ verify.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <!-- <td>{{getStatus(member.approved)}}</td> -->
              <td>
                <button (click)="access(member)" color="primary" mat-raised-button>SAVE</button>
              </td>
              <!-- <td *ngIf="member.approved"><button class="alert alert-danger" (click)="access(member)">Revoke</button></td>
              <td *ngIf="!member.approved"><button class="alert alert-success" (click)="access(member)">Approve</button></td> -->
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
