<section class="quickview-wrapper customizer d-none d-lg-block d-xl-block" id="quickview-customizer">
  <!-- <a class="customizer-close" href="javascript:;" myToggleQuickview="customizer">
    <span class="material-icons">close</span>
  </a> -->
  <a class="customizer-toggle" href="javascript:" myToggleQuickview="customizer">
    <span class="material-icons">&#xE0B7;</span>
  </a>
  <div class="card" mySlimScroll>
    <div class="card-header">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#admin" role="tab">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#family" role="tab">Family</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" data-toggle="tab" href="#support" role="tab">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#private" role="tab">Private</a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="card-block">
      <div class="tab-content">
        <div class="tab-pane active" id="admin" role="tabpanel">
          <!-- <side-admin-chat></side-admin-chat> -->
        </div>
        <div class="tab-pane" id="family" role="tabpanel">
          <family-chat></family-chat>
        </div>
        <div class="tab-pane" id="support" role="tabpanel">
          <support-chat></support-chat>
        </div>
        <div class="tab-pane" id="private" role="tabpanel">
          <private-chat></private-chat>
        </div>
      </div>
    </div>
  </div>
</section>
