<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a class="mdl-layout__tab is-active" href="#scroll-tab-1">Tab 1</a>
            <a class="mdl-layout__tab" href="#scroll-tab-2">Tab 2</a>
            <a class="mdl-layout__tab" href="#scroll-tab-3">Tab 3</a>
            <a class="mdl-layout__tab" href="#scroll-tab-4">Tab 4</a>
            <a class="mdl-layout__tab" href="#scroll-tab-5">Tab 5</a>
            <a class="mdl-layout__tab" href="#scroll-tab-6">Tab 6</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-4">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-5">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-6">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
    </main>
</div>
