<mat-tab-group>
  <mat-tab *ngFor='let fueltype of fueltypesArray'>
    <ng-template mat-tab-label>
      <button class="btn btn-{{fueltype}}">
        {{fueltype | uppercase}} :
        {{stock.qty[fueltype].ase}}
      </button>
    </ng-template>
    <mat-card>
      <mat-card-content>
        <div class="loading-container">
          <div *ngIf="loading[fueltype]" class="loading-shade">
            <mat-spinner></mat-spinner>
          </div>
          <div class="ot-header">
            <mat-form-field appearance="legacy">
              <input (keyup)="filterbatches(fueltype, $event.target.value)" matInput placeholder="Filter">
              <button (click)='syncdb()' *ngIf='!creatingsync' mat-icon-button matSuffix type="button">
                                <span class="nav-icon nav-dot material-icons kra-save" matTooltip="Update">
                                    autorenew
                                </span>
              </button>
              <mat-spinner *ngIf='creatingsync' [diameter]="19" matSuffix></mat-spinner>
            </mat-form-field>
          </div>
          <button (click)="trasfer(fueltype)" [disabled]="private" color="primary" mat-raised-button>Transfer
          </button>

          <table *ngIf="!loading[fueltype]" [dataSource]="datasource[fueltype]" mat-table style="width: 100%">

            <ng-container matColumnDef="daudiId">
              <th *matHeaderCellDef mat-header-cell> Daudi ID</th>
              <td *matCellDef="let ase" mat-cell> {{ase.Id}}</td>

            </ng-container>

            <ng-container matColumnDef="date">
              <th *matHeaderCellDef mat-header-cell> Date</th>
              <td *matCellDef="let ase" mat-cell> {{ase.date?.toDate() | date: 'dd/MM/yyyy, h:mm a'}}
              </td>
            </ng-container>

            <!-- Item Column -->

            <ng-container matColumnDef="id">
              <th *matHeaderCellDef mat-header-cell> ASE ID</th>
              <td *matCellDef="let ase" mat-cell> {{ase.ase.id}}</td>
            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="totalqty">
              <th *matHeaderCellDef mat-header-cell> Total ASE Qty</th>
              <td *matCellDef="let ase" mat-cell>{{ase.qty.total}}</td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
