<h2 matDialogTitle>Customize columns</h2>
<mat-dialog-content align="center">

  <mat-accordion>
    <mat-expansion-panel *ngFor="let column of columnheaders">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-checkbox [(ngModel)]="treebuild[column].selected" class="checklist-leaf-node">
            {{column}}
          </mat-checkbox>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <mat-tree [dataSource]="treebuild[column]" [treeControl]="treeControl[column]">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle>
            <mat-checkbox (change)="togglenodeselection(node, column)"
                          [checked]="descendantsAllSelected(node, column)"
                          [indeterminate]="descendantsPartiallySelected(node, column)"
                          class="checklist-leaf-node">
              {{node.nodename}} :
            </mat-checkbox>

          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button [attr.aria-label]="'toggle ' + node.nodename" mat-icon-button
                    matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl[column].isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-checkbox [(ngModel)]="node.selected">
              {{node.nodename}}
            </mat-checkbox>
          </mat-tree-node>
        </mat-tree>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button color="warn" mat-button matDialogClose>CANCEL</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <!--<button mat-button color="primary" [matDialogClose]="true">Yes</button>-->
  <button (click)="showresult()" color="primary" mat-button>DOWNLOAD</button>
</mat-dialog-actions>
