<link href="/salesManifest.json" rel="manifest">
<div class="home-body">
  <div class="container">
    <div class="row home-header">
      <div class="col-md-5">
        <a [routerLink]="['/']">
          <img *ngIf="isSales" alt="Emkay Logo" class="img-responsive" src="../../assets/images/emkay-sales.png">
          <img *ngIf="!isSales" alt="Emkay Logo" class="img-responsive" src="../../assets/images/home-header.png">
        </a>
      </div>
      <div class="col-md-7 home-greeting">
        <h2>Jambo {{ order.contactName | uppercase }}</h2>
        <div>Please check your contact details before you submit your order</div>
        <div *ngIf="!isSales" class="join-fam">OR join the Emkay Family to discount prices and load your trucks. &nbsp;
          &nbsp; &nbsp; &nbsp;
          <a (click)="loginWithGoogle()" [matTooltipPosition]="position2" id="google" matTooltip="Join">
            <img alt="" class="rounded" height="40" src="assets/images/emkay-family.png" width="40">
          </a>
        </div>
      </div>
    </div>
    <form #f="ngForm">
      <mat-card class="blue-bg">
        <mat-card-content>
          <div class="row">
            <div *ngIf="isSales" class="col-md-3"> <!-- for sales -->
              <mat-form-field class="full-width">
                <input #companyName (input)="companyName.value=$event.target.value.toUpperCase()"
                       [(ngModel)]="company.companyName" [formControl]="myControl" [matAutocomplete]="auto"
                       aria-label="Number"
                       matInput minlength="2" name="companyName"
                       placeholder="Company Name" type="text">
                <mat-icon matPrefix> account_balance</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option (click)="getCompanyDetails(option)" *ngFor="let option of filteredOptions | async"
                              [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div *ngIf="!isSales" class="col-md-3">
              <mat-form-field class="full-width">
                <input #companyName #orderCompanyName="ngModel"
                       (input)="companyName.value=$event.target.value.toUpperCase()" [(ngModel)]="order.companyName"
                       matInput
                       minlength="2"
                       name="companyName" placeholder="Company Name" required>
                <mat-icon matPrefix> account_balance</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-error *ngIf="orderCompanyName.errors?.required && orderCompanyName.touched"> Company name
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="orderCompanyName.errors?.minlength && orderCompanyName.touched"> Please enter a
                  <strong>valid</strong> company name
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field *ngIf="isSales" class="full-width"> <!-- for sales -->
                <input #contactName #orderContactName="ngModel"
                       (input)="contactName.value=$event.target.value.toUpperCase()" [(ngModel)]="company.contactName"
                       matInput minlength="2"
                       name="contactName"
                       placeholder="Contact Name" required>
                <mat-icon matPrefix>perm_identity</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-error *ngIf="orderContactName.errors?.required && orderContactName.touched">
                  Name <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="orderContactName.errors?.minlength && orderContactName.touched">
                  Please enter a <strong>valid</strong> contact name
                </mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="!isSales" class="full-width">
                <input #contactName #orderContactName="ngModel"
                       (input)="contactName.value=$event.target.value.toUpperCase()" [(ngModel)]="order.contactName"
                       matInput
                       minlength="2" name="contactName"
                       placeholder="Contact Name" required>
                <mat-icon matPrefix>perm_identity</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-error *ngIf="orderContactName.errors?.required && orderContactName.touched"> Name
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="orderContactName.errors?.minlength && orderContactName.touched">
                  Please enter a
                  <strong>valid</strong> contact name
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field *ngIf="isSales" class="full-width"> <!-- for sales -->
                <input #orderCompanyPhone="ngModel" [(ngModel)]="company.companyPhone" matInput maxlength="9"
                       minlength="9" name="companyPhone"
                       placeholder="Phone number" required
                       type="tel">
                <mat-icon matPrefix>phone</mat-icon>
                <span matPrefix> &nbsp; +254 &nbsp;</span>
                <mat-error *ngIf="orderCompanyPhone.errors?.required && orderCompanyPhone.touched">
                  Telephone Number <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="orderCompanyPhone.errors?.minlength && orderCompanyPhone.touched">
                  Please enter a <strong>valid</strong> telephone number
                </mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="!isSales" class="full-width">
                <input #orderCompanyPhone="ngModel" [(ngModel)]="order.companyPhone" matInput maxlength="9"
                       minlength="9" name="companyPhone"
                       placeholder="Phone number" required
                       type="tel">
                <mat-icon matPrefix>phone</mat-icon>
                <span matPrefix> &nbsp; +254 &nbsp;</span>
                <mat-error *ngIf="orderCompanyPhone.errors?.required && orderCompanyPhone.touched">
                  Telephone Number
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="orderCompanyPhone.errors?.minlength && orderCompanyPhone.touched">
                  Please enter a
                  <strong>valid</strong> telephone number
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field *ngIf="isSales" class="full-width"> <!-- for sales -->
                <input #orderCompanyEmail="ngModel" [(ngModel)]="company.companyEmail" matInput name="companyEmail"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       placeholder="Company Email" required type="email">
                <mat-icon matPrefix>email</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-error *ngIf="orderCompanyEmail.errors?.required && orderCompanyEmail.touched">
                  Company Email <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="orderCompanyEmail.errors && orderCompanyEmail.errors.pattern">
                  Valid Company Email <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="!isSales" class="full-width">
                <input #orderCompanyEmail="ngModel" [(ngModel)]="order.companyEmail" matInput name="companyEmail"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       placeholder="Company Email" required type="email">
                <mat-icon matPrefix>email</mat-icon>
                <span matPrefix> &nbsp; </span>
                <mat-error *ngIf="orderCompanyEmail.errors?.required && orderCompanyEmail.touched">
                  Company Email
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="orderCompanyEmail.errors && orderCompanyEmail.errors.pattern">
                  Valid Company Email
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div [hidden]="!isSales" fxFlex>
              <mat-form-field class="full-width">
                <input #kraPin #kraPin="ngModel" (input)="kraPin.value=$event.target.value.toUpperCase()"
                       [(ngModel)]="company.kraPin" matInput name="kraPin"
                       placeholder="KRA PIN" required type="text">
                <mat-icon matPrefix>payment</mat-icon>
                <span matPrefix> &nbsp; P &nbsp;</span>
                <mat-error *ngIf="kraPin.errors?.required && kraPin.touched">
                  KRA PIN <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="kraPin.errors && kraPin.errors.pattern">
                  Valid Company KRA pin <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="product-bg">
        <mat-card-content class="price-bg container-fluid">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderPmsQty="ngModel" (ngModelChange)="pmsTotal()" [(ngModel)]="order.pmsQty" matInput
                       name="pmsQty" placeholder="PMS Quantity"
                       required step="100"
                       type="number">
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                          matTooltip="PMS">fiber_manual_record
                </mat-icon>
                <span matPrefix> &nbsp; </span>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input (ngModelChange)="pmsTotal()" [(ngModel)]="order.pmsSp" [disabled]="!isSales" matInput
                       name="pmsSp"
                       placeholder="PMS Price"
                       type="number" value="{{fuelPrices.pmsPrice}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input disabled matInput name="pmsSp" placeholder="Average PMS Price" required type="number"
                       value="{{fuelPrices.pmsAvg | number : '1.2-2'}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width order-title">
                <input #orderPmsTotal="ngModel" [(ngModel)]="order.pmsTotal" class="label label-pms" disabled matInput
                       name="pmsTotal"
                       type="number"
                       value={{order.pmsTotal}}>

              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderAgoQty="ngModel" (ngModelChange)="agoTotal()" [(ngModel)]="order.agoQty" matInput
                       name="agoQty" placeholder="AGO Quantity"
                       required step="100"
                       type="number">
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning"
                          matPrefix
                          matTooltip="AGO">fiber_manual_record
                </mat-icon>
                <span matPrefix> &nbsp; </span>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderAgoSp="ngModel" (ngModelChange)="agoTotal()" [(ngModel)]="order.agoSp"
                       [disabled]="!isSales" matInput
                       name="agoSp" placeholder="AGO Price"
                       type="number" value="{{fuelPrices.agoPrice}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input disabled matInput name="pmsSp" placeholder="Average AGO Price" required type="number"
                       value="{{fuelPrices.agoAvg | number : '1.2-2'}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width order-title">
                <input #orderAgoTotal="ngModel" [(ngModel)]="order.agoTotal" class="label label-ago" disabled matInput
                       name="agoTotal"
                       type="number"
                       value={{order.agoTotal}}>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderIkQty="ngModel" (ngModelChange)="ikTotal()" [(ngModel)]="order.ikQty" matInput name="ikQty"
                       placeholder="IK Quantity"
                       required step="100"
                       type="number">
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success"
                          matPrefix
                          matTooltip="IK">fiber_manual_record
                </mat-icon>
                <span matPrefix> &nbsp; </span>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderIkSp="ngModel" (ngModelChange)="ikTotal()" [(ngModel)]="order.ikSp" [disabled]="!isSales"
                       matInput
                       name="ikSp" placeholder="IK Price"
                       type="number" value="{{fuelPrices.ikPrice}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input disabled matInput name="ikAvg" placeholder="Average IK Price" required type="number"
                       value="{{fuelPrices.ikAvg | number : '1.2-2' }}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width order-title">
                <input #orderIkTotal="ngModel" [(ngModel)]="order.ikTotal" class="label label-ik" disabled matInput
                       name="ikTotal"
                       type="number"
                       value={{order.ikTotal}}>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <div class="fuel-totals blue-bg">
                <span>Ksh {{ order.grandTotal}}</span>
              </div>
            </div>
          </div>
          <br>
        </mat-card-content>
        <mat-card-content>
          <div align="center" class="container-fluid row">
            <div class="col-md-3">
              <i aria-hidden="true" class="fa fa-envelope"></i> sales@emkaynow.com
              <br>
              <i aria-hidden="true" class="fa fa-phone"></i> 0733 474 703
            </div>
            <div *ngIf="!isSales" class="col">
              <small>Emkay Family</small>
              <br>
              <a (click)="loginWithGoogle()" [matTooltipPosition]="position2" id="google" matTooltip="Join">
                <img alt="" class="rounded" height="40" src="assets/images/emkay-family.png" width="40">
              </a>
            </div>
            <div class="col">
              <label class="custom-control custom-checkbox">
                <input (ngModelChange)="setSmsStatus(order)" [(ngModel)]="order.allowSms" class="custom-control-input"
                       name="allowSms" type="checkbox">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><small>Notify me of the progress via SMS</small></span>
              </label>
            </div>
            <div class="col">
              <div *ngIf="!loggedIn" class="btn-group" role="group" style="width: 100%;">
                <button (click)="loginWithGoogleDiscount()" class="btn btn-danger btn-block" id="google" type="button">
                  <i aria-hidden="true" class="fa fa-google-plus"></i> Login To Make Sales
                </button>
              </div>
              <div *ngIf="loggedIn" class="btn-group" role="group" style="width: 100%;">
                <button (click)="saveOrderWithDiscount(f)" *ngIf="isSales" class="btn-def" mat-button>SEND</button>
                <button (click)="saveOrder(f)" *ngIf="!isSales" class="btn-send" mat-button>SEND</button>
                <button (click)="openLoadingDialogWithDiscount(f)" *ngIf="isSales" class="btn-blue" mat-button>LOAD
                </button>
                <!-- <button *ngIf="!isSales" mat-button (click)="openLoadingDialog(f)" class="btn-blue">LOAD</button> -->
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <br>
</div>
