<!-- <mat-card>
  <mat-card-content>
    <div class="loading-container">
      <div *ngIf="loadingadmins" class="loading-shade">
        <mat-spinner></mat-spinner>
      </div>
      <div>
        <mat-form-field appearance="legacy">
          <input (keyup)="filterusers($event.target.value)" matInput placeholder="Filter">
          <button (click)='syncdb()' *ngIf='!creatingsync' mat-icon-button matSuffix type="button">
            <span class="nav-icon nav-dot material-icons kra-save" matTooltip="Update">
              autorenew
            </span>
          </button>
          <mat-spinner *ngIf='creatingsync' [diameter]="19" matSuffix></mat-spinner>
        </mat-form-field>
      </div>

      <div class="ot-container">
        <table [dataSource]="usersdatasource" mat-table matSort multiTemplateDataRows style="width: 100%">
          <ng-container matColumnDef="photo">
            <th *matHeaderCellDef mat-header-cell>
              <i aria-hidden="true" class="fa fa-picture-o"></i>
            </th>
            <td *matCellDef="let admin" mat-cell>
              <div *ngIf="expandedEAdmin === admin; else nonedit">
                <img (click)="uploadphoto()" alt="" class="rounded img30_30" src="{{admin.data.photoURL}}">
              </div>
              <ng-template #nonedit>
                <img alt="" class="rounded img30_30" src="{{admin.data.photoURL}}">
              </ng-template>
            </td>


          </ng-container>
          <ng-container matColumnDef="QbId">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> QbID</th>
            <td *matCellDef="let admin" mat-cell>
              {{admin.qbconfig?.QbId}}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
            <td *matCellDef="let admin" mat-cell>
              <div *ngIf="expandedEAdmin === admin; else nonedit">
                <mat-form-field class="example-form-field">
                  <input [(ngModel)]="expandedEAdmin.data.name" matInput type="text">
                </mat-form-field>

              </div>
              <ng-template #nonedit>
                <mat-form-field class="example-form-field">
                  <input [(ngModel)]="admin.data.name" disabled matInput type="text">
                </mat-form-field>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Email</th>
            <td *matCellDef="let admin" mat-cell>
              {{admin.data.email}}
            </td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Phone</th>
            <td *matCellDef="let admin" mat-cell>
              <div *ngIf="expandedEAdmin === admin; else nonedit">
                <mat-form-field class="example-form-field">
                  <input [(ngModel)]="expandedEAdmin.profiledata.phone" matInput type="text">
                </mat-form-field>
              </div>
              <ng-template #nonedit>
                <mat-form-field class="example-form-field">
                  <input [(ngModel)]="admin.profiledata.phone" disabled matInput type="text">
                </mat-form-field>
              </ng-template>

            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>User Type</th>
            <td *matCellDef="let admin" mat-cell>
              <div *ngIf="expandedEAdmin === admin && admin.Id !==activeuser.Id; else nonedit">
                <mat-form-field>
                  <mat-select [(ngModel)]="expandedEAdmin.config.type" placeholder="User Type">
                    <mat-option *ngFor="let type of originalCompany.adminTypes;let i = index" [value]="i">
                      {{ type.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <ng-template #nonedit>
                <mat-form-field>
                  <mat-select [ngModel]="admin.config.type" disabled placeholder="User type">
                    <mat-option *ngFor="let type of originalCompany.adminTypes;let i = index" [value]="i">
                      {{ type.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="level">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Level</th>
            <td *matCellDef="let admin" mat-cell>
              <div *ngIf="expandedEAdmin === admin && admin.Id !==activeuser.Id; else nonedit">
                <mat-form-field>
                  <mat-select [(ngModel)]="expandedEAdmin.config.level" placeholder="User Level">
                    <mat-option
                      *ngFor="let level of originalCompany.adminTypes[expandedEAdmin.config.type]?.levels;let i = index"
                      [value]="i">
                      {{ level.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <ng-template #nonedit>
                <mat-form-field>
                  <mat-select [ngModel]="admin.config.level" disabled placeholder="User Level">
                    <mat-option
                      *ngFor="let level of originalCompany.adminTypes[admin.config.type]?.levels;let i = index"
                      [value]="i">
                      {{ level.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="sandbox">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Sandbox</th>
            <td *matCellDef="let admin" mat-cell>
              <div *ngIf="expandedEAdmin === admin && admin.Id !==activeuser.Id; else nonedit">
                <mat-slide-toggle [(ngModel)]="expandedEAdmin.config.viewsandbox">
                </mat-slide-toggle>
              </div>
              <ng-template #nonedit>
                <mat-slide-toggle [(ngModel)]="admin.config.viewsandbox" disabled>
                </mat-slide-toggle>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="depot">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Assigned Depot</th>
            <td *matCellDef="let admin" mat-cell>
              <div *ngIf="expandedEAdmin === admin; else nonedit">
                <mat-form-field>
                  <mat-select [(ngModel)]="expandedEAdmin.config.depotid" [disabled]="" name="adminlevel"
                    placeholder="Depot">
                    <mat-option *ngFor="let depot of alldepots" [value]="depot.Id">
                      {{ depot.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <ng-template #nonedit>
                <mat-select [(ngModel)]="admin.config.depotid" disabled name="adminlevel" placeholder="Depot">
                  <mat-option *ngFor="let depot of alldepots" [value]="depot.Id">
                    {{ depot.Name}}
                  </mat-option>
                </mat-select>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let admin" mat-cell>
              <div *ngIf="expandedEAdmin === admin; else editbutton">
                <button (click)="savechanges()" color="primary" mat-mini-fab>
                  <mat-icon>save</mat-icon>
                </button>

              </div>
              <ng-template #editbutton>
                <div *ngIf="!saving; else load">
                  <button (click)="expandedEAdmin = admin" color="primary" mat-mini-fab>
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <ng-template #load>
                  <mat-spinner [diameter]="19" matSuffix></mat-spinner>
                </ng-template>

              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell> Status</th>
            <td *matCellDef="let admin" mat-cell>
              <button *ngIf="admin.status.online === true" class="btn btn-outline-success btn-sm">
                Online since {{admin.status.time.toDate() | date: 'short'}}
              </button>
              <button *ngIf="admin.status.online === false" class="btn btn-outline-danger btn-sm">
                Last seen {{admin.status.time ? (admin.status.time.toDate() | date: 'short') : 'NEVER'}}
              </button>
            </td>
          </ng-container>
          <tr *matRowDef="let admin; columns: displayedColumns;" [@flyIn] class="element-row" mat-row>
          </tr>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        </table>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card> -->