<div class="container-fld">

  <nav mat-tab-nav-bar>
    <a mat-tab-link (click)="activeLink = 'entries'" [active]="activeLink == 'entries'" routerLink="entries"
      routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Entries
    </a>
    <a mat-tab-link (click)="activeLink = 'stock'" [active]="activeLink == 'stock'" routerLink="ases" routerLinkActive
      #rla="routerLinkActive" [active]="rla.isActive">Stock
    </a>
    <a mat-tab-link (click)="activeLink = 'depot-management'" [active]="activeLink == 'depot-management'"
      routerLink="ases" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Depot Management
    </a>
    <a mat-tab-link (click)="activeLink = 'company-management'" [active]="activeLink == 'company-management'"
      routerLink="ases" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Company Management
    </a>
    <a mat-tab-link (click)="activeLink = 'customer-management'" [active]="activeLink == 'customer-management'"
      routerLink="ases" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Customer Management
    </a>
    <a mat-tab-link (click)="activeLink = 'sms-logs'" [active]="activeLink == 'sms-logs'" routerLink="sms-logs"
      routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">SMS Logs
    </a>
    <a mat-tab-link (click)="activeLink = 'payments'" [active]="activeLink == 'payments'" routerLink="payments"
      routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Payments
    </a>
  </nav>
  <router-outlet></router-outlet>
  <!-- <mat-tab-group>
    <mat-tab *ngIf="isauthenticated(1)">
      <ng-template mat-tab-label>
        Entries
      </ng-template>
      <app-entries></app-entries>
    </mat-tab>
    <mat-tab *ngIf="isauthenticated(1)">
      <ng-template mat-tab-label>
        ASE's
      </ng-template>
      <app-ase></app-ase>
    </mat-tab>
    <mat-tab *ngIf="isauthenticated(1)">
      <ng-template mat-tab-label>
        Depot Management
      </ng-template>
      <ng-template matTabContent>
        <depot-management></depot-management>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isauthenticated(1)">
      <ng-template mat-tab-label>
        Company Management
      </ng-template>
      <ng-template matTabContent>
        <mat-tab-group>

          <mat-tab label=" Admin Management">
            <user-management></user-management>
          </mat-tab>
          <mat-tab label=" Admin Levels">
            <app-admin-levels></app-admin-levels>
          </mat-tab>
          <mat-tab label=" Admin Roles">
            <app-admin-roles></app-admin-roles>
          </mat-tab>
          <mat-tab label=" Company Details">
            <app-company></app-company>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isauthenticated(3)">
      <ng-template mat-tab-label>
        Customer Management
      </ng-template>
      <ng-template matTabContent>
        <customer-management></customer-management>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isauthenticated(1)">
      <ng-template mat-tab-label>
        SMS Logs
      </ng-template>
      <ng-template matTabContent>
        <sms-logs></sms-logs>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="isauthenticated(1)">
      <ng-template mat-tab-label>
        Payments
      </ng-template>
      <ng-template matTabContent>
        <app-payments></app-payments>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isauthenticated(1)">
      <ng-template mat-tab-label>
        OMC's
      </ng-template>
      <ng-template matTabContent>
        <app-omc-management></app-omc-management>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->
</div>