<section class="container-fluid">
  <mat-card>
    <mat-card-content>

      <div class="loading-container">
        <div *ngIf="loadingtrucks" class="loading-shade">
          <mat-spinner></mat-spinner>
        </div>
        <div>
          <mat-form-field>
            <input (keyup)="filtertrucks(typedValue)" [(ngModel)]="typedValue" matInput placeholder="Filter">
          </mat-form-field>
        </div>
        <div class="example-container">
          <table #table [dataSource]="ordersDataSource" class="faded-bg" mat-table matSort multiTemplateDataRows>
            <!-- ID Column -->
            <ng-container matColumnDef="truckId">
              <th *matHeaderCellDef class="truck-id-size" mat-header-cell mat-sort-header>
                <i aria-hidden="true" class="fa fa-truck"></i>&nbsp;#
              </th>
              <td *matCellDef="let order" class="truck-id-size" mat-cell> {{order.QbConfig.InvoiceNumber}}</td>
            </ng-container>
            <!-- Company Column -->
            <ng-container matColumnDef="time">
              <th *matHeaderCellDef class="company-size" mat-header-cell mat-sort-header>{{stage == 4 ? 'Completion Time'
                : 'Expiry Time'}}
              </th>
              <td *matCellDef="let order" class="company-size" mat-cell>
                <span *ngIf="stage<4">{{resolvetime(order.truck.truckStageData[stage].expiry[0].expiry)}}</span>
                <!-- <span *ngIf="stage==4">{{order.truck.truckStageData[stage].user.time?.toDate() | date: 'short'}}</span> -->
              </td>

            </ng-container>
            <!-- Company Column -->
            <ng-container matColumnDef="LoadingOrder">
              <th *matHeaderCellDef class="company-size" mat-header-cell mat-sort-header>
                Loading Order
              </th>
              <td *matCellDef="let order" class="company-size" mat-cell>
                <span>{{order.printStatus.LoadingOrder.status ? 'Printed:'+order.printStatus.LoadingOrder.user.name : 'Not Printed'}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="Gatepass">
              <th *matHeaderCellDef class="company-size" mat-header-cell mat-sort-header>
                Gatepass
              </th>
              <td *matCellDef="let order" class="company-size" mat-cell>
                <span>{{order.printStatus.gatepass.status ? 'Printed:'+order.printStatus.gatepass.user.name : 'Not Printed'}}</span>
              </td>
            </ng-container>
            <!-- Company Column -->
            <ng-container matColumnDef="orderCompanyName">
              <th *matHeaderCellDef class="company-size" mat-header-cell mat-sort-header>Company Name</th>
              <td *matCellDef="let order" class="company-size" mat-cell>{{order.customer.name}}</td>
            </ng-container>
            <ng-container matColumnDef="Phone">
              <th *matHeaderCellDef class="company-size" mat-header-cell mat-sort-header>Company Phone
              </th>
              <td *matCellDef="let order" class="company-size" mat-cell>
                <button (click)="sendSMS(order)" class="btn btn-outline-primary">
                  {{order.customer.contact[0]?.phone}}
                </button>
              </td>
            </ng-container>
            <!-- Driver Name Column -->
            <ng-container align="center" matColumnDef="driverName">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Driver Name</th>
              <td *matCellDef="let order" mat-cell>{{order.truck.driverdetail.name}}</td>
            </ng-container>
            <!-- Driver ID Column -->
            <ng-container matColumnDef="driverId">
              <th *matHeaderCellDef class="gen-size" mat-header-cell mat-sort-header>Driver ID</th>
              <td *matCellDef="let order" class="gen-size" mat-cell>{{order.truck.driverdetail.id}}</td>
            </ng-container>
            <!-- Number Plate Column -->
            <ng-container matColumnDef="truckReg">
              <th *matHeaderCellDef class="gen-size" mat-header-cell mat-sort-header>Number Plate</th>
              <td *matCellDef="let order" class="gen-size" mat-cell>{{order.truck.truckdetail.numberplate}}</td>
            </ng-container>
            <!-- PMS Column -->
            <ng-container matColumnDef="pmsQty">
              <th *matHeaderCellDef class="fuel-size" mat-header-cell mat-sort-header>
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-pms" matPrefix
                  matTooltip="PMS">local_gas_station
                </mat-icon>
              </th>
              <td *matCellDef="let order" class="fuel-size" mat-cell
                matTooltip="{{order.fuel.pms.entries[0]?.name + order.fuel.pms.entries[1]?.name}}">
                {{order.fuel.pms.qty| number}}
              </td>
            </ng-container>
            <!-- AGO Column -->
            <ng-container matColumnDef="agoQty">
              <th *matHeaderCellDef class="fuel-size" mat-header-cell mat-sort-header>
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-ago" matPrefix
                  matTooltip="AGO">local_gas_station
                </mat-icon>
              </th>
              <td *matCellDef="let order" class="fuel-size" mat-cell
                matTooltip="{{order.fuel.ago.entries[0]?.name + order.fuel.ago.entries[1]?.name}}">
                {{order.fuel.ago.qty | number}}
              </td>
            </ng-container>
            <!-- IK Column -->
            <ng-container matColumnDef="ikQty">
              <th *matHeaderCellDef class="fuel-size" mat-header-cell mat-sort-header>
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-ik" matPrefix
                  matTooltip="IK">local_gas_station
                </mat-icon>
              </th>
              <td *matCellDef="let order" class="fuel-size" mat-cell
                matTooltip="{{order.fuel.ik.entries[0]?.name + order.fuel.ik.entries[1]?.name}}">
                {{order.fuel.ik.qty | number}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Seals">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Seal Numbers</th>
              <td *matCellDef="let order" mat-cell>{{order.truck.truckStageData['4'].data.seals.range}}</td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td *matCellDef="let order" [attr.colspan]="truckcolumns.length" mat-cell style="width: 100%">
                <mat-card [@detailExpand]="order == expandedElement ? 'expanded' : 'collapsed'">
                  <mat-card-content>
                    <table class="table table-stripped">
                      <thead class="">
                        <tr>
                          <th>Comp 1</th>
                          <th>Comp 2</th>
                          <th>Comp 3</th>
                          <th>Comp 4</th>
                          <th>Comp 5</th>
                          <th>Comp 6</th>
                          <th>Comp 7</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td class="color-{{order.truck.compartments[0].fueltype}}">{{order.truck.compartments[0].qty}}
                          </td>
                          <td class="color-{{order.truck.compartments[1].fueltype}}">{{order.truck.compartments[1].qty}}
                          </td>
                          <td class="color-{{order.truck.compartments[2].fueltype}}">{{order.truck.compartments[2].qty}}
                          </td>
                          <td class="color-{{order.truck.compartments[3].fueltype}}">{{order.truck.compartments[3].qty}}
                          </td>
                          <td class="color-{{order.truck.compartments[4].fueltype}}">{{order.truck.compartments[4].qty}}
                          </td>
                          <td class="color-{{order.truck.compartments[5].fueltype}}">{{order.truck.compartments[5].qty}}
                          </td>
                          <td class="color-{{order.truck.compartments[6].fueltype}}">{{order.truck.compartments[6].qty}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </mat-card-content>
                </mat-card>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="truckcolumns" mat-header-row></tr>
            <tr (click)="expandedElement = order" *matRowDef="let order; columns: truckcolumns;" [@flyIn]
              [class.expanded-row]="expandedElement === order" [ngClass]="{'frozentruck': order.frozen}"
              class="element-row" mat-row>
            </tr>
            <tr *matRowDef="let row;  columns: ['expandedDetail']" class="detail-row" mat-row></tr>
          </table>
          <div class="row">
            <div class="col-md-2">
              <mat-icon (click)="exportAsExcelFile()" class="save-icon" title="Export as EXCEL">
                cloud_download
              </mat-icon>
            </div>
            <div class="col-md-10">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>