// Colors
$mk-primary: #2196F3;
$mk-secondary: #fdf011;

$mk-danger: #dc3545;
$mk-success: #46c37b;
$mk-info: #5bc0de;
$mk-default: #282828;


$mk-black: #000000;
$mk-white: #e7e7e7;
$mk-grey: #393a3d;

//$mk-pms:	#ff6347;
$mk-pms: #E70001;
$mk-ago: #ffc107;
$mk-ik: #008542;

$mk-qb: #777;
