<mat-card-content>
  <div>
    <span [matTooltipPosition]="position" class="truck-details" matTooltip="Driver Name">
      <i class="fa fa-user color-primary"></i>: {{order.truck?.driverdetail.name}}
    </span>
    <span [matTooltipPosition]="position" class="truck-details" matTooltip="Driver ID">
      <i class="fa fa-id-card-o color-primary"></i>: {{order.truck?.driverdetail.id}}
    </span>
    <span [matTooltipPosition]="position" class="truck-details" matTooltip="Truck Number Plate">
      <i class="fa fa-truck color-primary"></i>: {{order.truck?.truckdetail.numberplate}}
    </span>

    <span class="float-right">
      <button (click)="deleteTruck()" *ngIf="order.truck?.stage === 0" mat-raised-button color="warn">
        <span [matTooltipPosition]="position1" class="nav-icon nav-dot material-icons" matTooltip="Delete">delete_sweep
        </span>
        DELETE
      </button>
      <button (click)="resetTruck()" *ngIf="order.truck?.stage > 0 && order.truck?.stage < 4" mat-raised-button
        color="warn">
        <span class="material-icons" matTooltip="Reset">restore</span>
        RESET
      </button>
      <button (click)="approveTruck()" *ngIf="order.truck?.stage === 0" mat-raised-button color="primary">
        <span [matTooltipPosition]="position2" class="nav-icon nav-dot material-icons" matTooltip="Approve">check_circle
        </span>
        APPROVE
      </button>
    </span>
  </div>
  <table *ngIf="order.truck?.stage > 0" class="table table-stripped card-body">
    <thead class="thead-primary">
      <tr>
        <th scope="col">Stage</th>
        <th>Status</th>
        <th scope="col">Total Est Time</th>
        <th>Time Spent in Stage</th>
        <th>Additions</th>
        <th>Accuracy</th>
        <th>User</th>
        <th style="text-align: center">Time Taken</th>
      </tr>
    </thead>
    <tbody>
      <tr
        [ngClass]="{ 'color-danger' : order.truck.stage == 1 && expired(order.truckStageData[1].expiry[0]?.expiry) ,
                       'color-success' : order.truck.stage == 1 && !expired(order.truckStageData['1'].expiry[0]?.expiry)} ">
        <td class="order-stage">Processing</td>
        <td>
          <span *ngIf="order.truck.stage == 1 else completed">
            <span *ngIf="order.printStatus.LoadingOrder; else not_printed">
              {{resolvetime(order.truckStageData["1"].expiry[0]?.expiry)}}
            </span>
            <ng-template #not_printed>
              Not Printed
            </ng-template>
          </span>
          <ng-template #completed class="color-success">
            Completed
          </ng-template>
        </td>
        <td>
          <span *ngIf="order.truck.stage > 1 else not_done">
            {{calculatetotaltime(order.truckStageData["1"].expiry)}}
          </span>
          <ng-template #not_done class="color-success">
            Developing
          </ng-template>
        </td>
        <td>
          <span *ngIf="order.truck.stage > 1">
            {{timespent(order.truckStageData["1"].user.date, order.truckStageData["2"].user.date)}}
          </span>
        </td>
        <td>
          <span *ngIf="order.truck.stage > 0">
            {{order.truckStageData["1"].expiry?.length - 1}}
          </span>
        </td>
        <td class="custom-slider">
          <!-- <ng5-slider
            *ngIf="order.truck.stage > 1 && calculateaccuracy(order.truckStageData['1'].expiry, order.truckStageData['1'].user.date, order.truckStageData['2'].user.date, 1 )"
            [manualRefresh]="manualRefresh" [options]="slider" [value]="accuracycolors[1].percentage">
          </ng5-slider> -->
        </td>
        <td>{{order.truckStageData["1"].user?.name}}</td>
        <td></td>
      </tr>
      <tr
        [ngClass]="{ 'color-danger' : order.truck.stage == 2 && expired(order.truckStageData['2'].expiry[0]?.expiry) ,
                       'color-success' : order.truck.stage == 2 && !expired(order.truckStageData['2'].expiry[0]?.expiry)} ">
        <td class="order-stage">Queued</td>
        <td>
          <span *ngIf="order.truck.stage == 2">
            {{resolvetime(order.truckStageData["2"].expiry[0]?.expiry)}}
          </span>
          <span *ngIf="order.truck.stage > 2" class="color-success">
            Completed
          </span>
        </td>
        <td>{{calculatetotaltime(order.truckStageData["2"].expiry)}}</td>
        <td>
          <!-- <span *ngIf="order.truck.stage > 2">
            {{timespent(order.truckStageData["2"].user.date, order.truckStageData["3"].user.date)}}
          </span> -->
        </td>
        <td>
          <!-- <span *ngIf="order.truck.stage > 1">
            {{order.truckStageData["2"].expiry?.length - 1}}
          </span> -->
        </td>
        <td class="custom-slider">
          <!-- <ng5-slider
            *ngIf="order.truck.stage > 2 && calculateaccuracy(order.truckStageData['2'].expiry, order.truckStageData['2'].user.date, order.truckStageData['3'].user.date, 2 )"
            [manualRefresh]="manualRefresh" [options]="slider" [value]="accuracycolors[2].percentage">
          </ng5-slider> -->
        </td>
        <td>{{order.truckStageData["2"].user?.name}}</td>
        <td rowspan="2" style="vertical-align : middle;text-align:center;font-weight: bold;background-color: lightgray">
          <!-- <span *ngIf="order.truck.stage == 4">
            {{timespent(order.truckStageData['2'].user.date, order.truckStageData['4'].user.date)}}
          </span> -->
        </td>
      </tr>
      <!-- <tr
        [ngClass]="{ 'color-danger' : order.truck.stage == 3 && expired(order.truckStageData['3'].expiry[0]?.date) ,
                       'color-success' : order.truck.stage == 3 && !expired(order.truckStageData['3'].expiry[0]?.date)} "> -->
      <tr>
        <td class="order-stage">Loading</td>
        <td>
          <span *ngIf="order.truck.stage == 3">
            {{resolvetime(order.truckStageData["3"].expiry[0]?.expiry)}}
          </span>
          <span *ngIf="order.truck.stage > 3" class="color-success">
            Completed
          </span>
        </td>
        <td>{{calculatetotaltime(order.truckStageData["3"].expiry)}}</td>
        <td>
          <span *ngIf="order.truck.stage > 3">
            {{timespent(order.truckStageData["3"].user.date, order.truckStageData["4"].user.date)}}
          </span>
        </td>
        <td>
          <span *ngIf="order.truck.stage > 2">
            {{order.truckStageData["3"].expiry?.length - 1}}
          </span>
        </td>
        <td class="custom-slider">
          <ng5-slider *ngIf="order.truck.stage > 3 && calculateaccuracy(order.truckStageData['3'].expiry, order.truckStageData['3'].user.date, 
            order.truckStageData['4'].user.date, 3 )" [manualRefresh]="manualRefresh" [options]="slider"
            [value]="accuracycolors[3].percentage">
          </ng5-slider>
        </td>
        <td>{{order.truckStageData["3"].user?.name}}</td>
      </tr>

    </tbody>
  </table>
  <div *ngIf="order.truck?.stage > 0" class="full-div">
    <span class="order-stage" matTooltip="Exit Time">
      <i class="fa fa-clock-o color-primary"></i>:
      {{order.truckStageData["4"].user?.date |parseDate | date: 'short'}}</span>
    <span class="order-stage" matTooltip="Seals Range">
      <i class="fa fa-folder-o color-primary"></i>: {{order.seals.range}}</span>
    <span class="order-stage" matTooltip="Broken Seals">
      <i class="fa fa-folder-open-o color-primary"></i>: {{order.seals.broken}}</span>
    <span class="order-stage" matTooltip="Completed By">
      <i class="fa fa-user color-primary"></i>: {{order.truckStageData["3"].user?.name}}</span>
  </div>
  <br>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="expanded-pane">
          Compartments
        </mat-panel-title>
        <!--<mat-panel-description>-->
        <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
        <!--</mat-panel-description>-->
      </mat-expansion-panel-header>
      <table class="table table-stripped">
        <thead class="thead-primary">
          <tr>
            <th>Comp 1</th>
            <th>Comp 2</th>
            <th>Comp 3</th>
            <th>Comp 4</th>
            <th>Comp 5</th>
            <th>Comp 6</th>
            <th>Comp 7</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="color-{{order.truck?.compartments[0].fueltype}}">
              {{order.truck?.compartments[0].qty}}
            </td>
            <td class="color-{{order.truck?.compartments[1].fueltype}}">
              {{order.truck?.compartments[1].qty}}
            </td>
            <td class="color-{{order.truck?.compartments[2].fueltype}}">
              {{order.truck?.compartments[2].qty}}
            </td>
            <td class="color-{{order.truck?.compartments[3].fueltype}}">
              {{order.truck?.compartments[3].qty}}
            </td>
            <td class="color-{{order.truck?.compartments[4].fueltype}}">
              {{order.truck?.compartments[4].qty}}
            </td>
            <td class="color-{{order.truck?.compartments[5].fueltype}}">
              {{order.truck?.compartments[5].qty}}
            </td>
            <td class="color-{{order.truck?.compartments[6].fueltype}}">
              {{order.truck?.compartments[6].qty}}
            </td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf="order.truck?.stage > 0">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="expanded-pane">
          Batches
        </mat-panel-title>
        <!--<mat-panel-description>-->
        <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
        <!--</mat-panel-description>-->
      </mat-expansion-panel-header>
      <div class="row no-gutters">
        <div class="col-sm-4">
          <span class="batch-table color-pms">
            <mat-icon>local_gas_station</mat-icon>
            PMS : {{order.fuel.pms.qty}}
          </span>
          <table class="table table-stripped">
            <thead class="thead-primary">
              <tr class="color-pms">
                <th>{{order.fuel.pms.entries["0"]?.name || 'Batch1'}}</th>
                <th>{{order.fuel.pms.entries["1"]?.name || 'Batch2'}}</th>
                <th>Total</th>
                <th>Observed</th>
              </tr>
            </thead>
            <tbody>
              <tr class="color-pms">
                <td>{{order.fuel.pms.entries["0"]?.qty}}</td>
                <td>{{order.fuel.pms.entries["1"]?.qty}}</td>
                <td>{{order.fuel.pms.qty}}</td>
                <td>
                  {{order.fuel.pms.entries["1"]?.qty ?
                order.fuel.pms.entries["1"]?.observed :
                order.fuel.pms.entries["0"]?.observed}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <span class="batch-table color-ago">
            <mat-icon>local_gas_station</mat-icon>
            AGO : {{order.fuel.ago.qty}}
          </span>
          <table class="table table-stripped">
            <thead class="thead-primary">
              <tr class="color-ago">
                <th>{{order.fuel.ago.entries["0"]?.name || 'Batch1'}}</th>
                <th>{{order.fuel.ago.entries["1"]?.name || 'Batch2'}}</th>
                <th>Total</th>
                <th>Observed</th>
              </tr>
            </thead>
            <tbody>
              <tr class="color-ago">
                <td>{{order.fuel.ago.entries["0"]?.qty}}</td>
                <td>{{order.fuel.ago.entries["1"]?.qty}}</td>
                <td>{{order.fuel.ago.qty}}</td>
                <td>{{order.fuel.ago.entries["1"]?.qty ?
                order.fuel.ago.entries["1"]?.observed :
                order.fuel.ago.entries["0"]?.observed}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <span class="batch-table color-ik">
            <mat-icon>local_gas_station</mat-icon>
            IK : {{order.fuel.ik.qty}}
          </span>
          <table class="table table-stripped">
            <thead class="thead-primary">
              <tr class="color-ik">
                <th>{{order.fuel.ik.entries["0"]?.name || 'Batch1'}}</th>
                <th>{{order.fuel.ik.entries["1"]?.name || 'Batch2'}}</th>
                <th>Total</th>
                <th>Observed</th>
              </tr>
            </thead>
            <tbody>
              <tr class="color-ik">
                <td>{{order.fuel.ik.entries["0"]?.qty}}</td>
                <td>{{order.fuel.ik.entries["1"]?.qty}}</td>
                <td>{{order.fuel.ik.qty}}</td>
                <td>{{order.fuel.ik.entries["1"]?.qty ?
                order.fuel.ik.entries["1"]?.observed :
                order.fuel.ik.entries["0"]?.observed}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card-content>