<div class="home-body">
  <emkay-family></emkay-family>
  <div class="container">
    <div class="row home-header">
      <div class="col-md-5">
        <a [routerLink]="['/']">
          <img alt="Emkay Logo" class="img-responsive" src="../../assets/images/home-header.png"> </a>
      </div>
      <div class="col-md-7 home-greeting">
        <h3>Jambo, {{oneFamily.companyName}}</h3>
        <p>
          <i>You can now make a price bid. If accepted your order will be processed immediately.</i><br>
          <i>If Not our sales rep will contact you... Asante for making it Emkay today.</i>
        </p>
      </div>
    </div>
    <br><br>
    <mat-card class="product-bg">
      <form #f="ngForm">
        <mat-card-content class="price-bg container-fluid">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderPmsQty="ngModel" (ngModelChange)="pmsTotal()" [(ngModel)]="order.pmsQty" matInput
                       name="pmsQty" placeholder="PMS Quantity"
                       required step="100"
                       type="number">
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                          matTooltip="PMS">fiber_manual_record
                </mat-icon>
                <span matPrefix> &nbsp; </span>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input (ngModelChange)="pmsTotal()" [(ngModel)]="order.pmsSp" matInput name="pmsSp"
                       placeholder="PMS Price"
                       type="number"
                       value="{{fuelPrices.pmsPrice}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input disabled matInput name="pmsSp" placeholder="Average PMS Price" required type="number"
                       value="{{fuelPrices.pmsAvg | number : '1.2-2'}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width order-title">
                <input #orderPmsTotal="ngModel" [(ngModel)]="order.pmsTotal" class="label label-pms" disabled matInput
                       name="pmsTotal"
                       type="number"
                       value={{order.pmsTotal}}>

              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderAgoQty="ngModel" (ngModelChange)="agoTotal()" [(ngModel)]="order.agoQty" matInput
                       name="agoQty" placeholder="AGO Quantity"
                       required step="100"
                       type="number">
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning"
                          matPrefix
                          matTooltip="AGO">fiber_manual_record
                </mat-icon>
                <span matPrefix> &nbsp; </span>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderAgoSp="ngModel" (ngModelChange)="agoTotal()" [(ngModel)]="order.agoSp" matInput
                       name="agoSp"
                       placeholder="AGO Price"
                       type="number" value="{{fuelPrices.agoPrice }}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input disabled matInput name="pmsSp" placeholder="Average AGO Price" required type="number"
                       value="{{fuelPrices.agoAvg | number : '1.2-2'}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width order-title">
                <input #orderAgoTotal="ngModel" [(ngModel)]="order.agoTotal" class="label label-ago" disabled matInput
                       name="agoTotal"
                       type="number"
                       value={{order.agoTotal}}>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderIkQty="ngModel" (ngModelChange)="ikTotal()" [(ngModel)]="order.ikQty" matInput name="ikQty"
                       placeholder="IK Quantity"
                       required step="100"
                       type="number">
                <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success"
                          matPrefix
                          matTooltip="IK">fiber_manual_record
                </mat-icon>
                <span matPrefix> &nbsp; </span>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input #orderIkSp="ngModel" (ngModelChange)="ikTotal()" [(ngModel)]="order.ikSp" matInput name="ikSp"
                       placeholder="IK Price"
                       type="number" value="{{fuelPrices.ikPrice}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width">
                <input disabled matInput name="ikAvg" placeholder="Average IK Price" required type="number"
                       value="{{fuelPrices.ikAvg | number : '1.2-2'}}">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="full-width order-title">
                <input #orderIkTotal="ngModel" [(ngModel)]="order.ikTotal" class="label label-ik" disabled matInput
                       name="ikTotal"
                       type="number"
                       value={{order.ikTotal}}>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <div class="fuel-totals blue-bg">
                <span>Ksh {{ order.grandTotal}}</span>
              </div>
            </div>
          </div>
          <br>
        </mat-card-content>
        <mat-card-content>
          <div align="center" class="container-fluid row">
            <div class="col-md-6"></div>
            <!-- <div class="col-md-3">
      <i class="fa fa-envelope" aria-hidden="true"></i> info@emkaynow.com
      <br>
      <i class="fa fa-phone" aria-hidden="true"></i> 0711234567</div>
  <div class="col-md-3">
      <small>Emkay Family</small><br>
      <a (click)="loginWithGoogle()" id="google" matTooltip="Join" [matTooltipPosition]="position2">
          <img src="assets/images/emkay-family_old.png" alt="" class="rounded" width="40" height="40">
      </a>
  </div> -->
            <div class="col-md-3">
              <label class="custom-control custom-checkbox">
                <input (ngModelChange)="setSmsStatus(order)" [(ngModel)]="order.allowSms" class="custom-control-input"
                       name="allowSms" type="checkbox">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><small>Notify me of the progress via SMS</small></span>
              </label>
            </div>
            <div class="col-md-3">
              <div class="btn-group" role="group" style="width: 100%;">
                <button (click)="saveOrderWithDiscount(f)" class="btn-def" mat-button>SEND</button>
                <button (click)="openLoadingDialogWithDiscount(f)" class="btn-blue" mat-button>LOAD</button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
