.home-body {
  //   height: auto;
  min-height: 100%;
  background-color: transparent;
  background-image: url("../../../assets/images/home-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //   color: #fff;
  //   text-align: center;
  //   text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.home-header {
  padding-top: 50px;
  text-align: left;
}

.home-greeting {
  text-align: left;
  padding-top: 20px;
  color: #fff;
}

//Background Shades
.blue-bg {
  background-color: rgba(6, 174, 228, 0.1);
  color: wheat;
}

.yellow-bg {
  background-color: rgba(251, 241, 22, 0.5);
}

.product-bg {
  background-color: rgba(0, 50, 200, 0.1);
  color: white;
  font-weight: 500px;
}

.price-bg {
  background-color: rgba(30, 100, 108, 0.1);
}

/deep/ .mat-input-underline {
  background-color: rgba(6, 173, 228, 0.30);
}

/deep/ .mat-input-underline.mat-disabled {
  background-color: rgba(6, 173, 228, 0.30);
}

/deep/ .mat-input-ripple {
  //background-color: $mk-secondary;
}

/deep/ .mat-input-placeholder {
  color: whitesmoke;
  text-align: center;
}

/deep/ .mat-input-element {
  color: white;
  text-align: center;
}

/deep/ .mat-input-element:disabled {
  color: wheat;
  text-align: center;
}

//Order Form Styling
.order-title {
  text-align: center;
  font-weight: bold;
}

.label {
  // display: inline;
  // padding: .3em .6em .3em;
  font-size: 100%;
  font-weight: 700;
  // line-height: 1;
  color: #fff;
  text-align: center;
  // white-space: nowrap;
  vertical-align: middle;
  border-radius: .2em;
  width: 50%;
}

.label-pms {
  background-color: #333;
}

.label-ago {
  background-color: #FFCA28;
}

.label-ik {
  background-color: #46c37b;
}

.label-def {
  background-color: grey;
  display: block;
}

.btn-def {
  display: block;
  left: 0;
  top: 0;
  width: 50%;
  background-color: #5bc0de;
  color: white;
  font-weight: bold;
  border-radius: .0em;
}

.btn-pms {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

.btn-ago {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FFCA28;
  color: white;
}

.btn-ik {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #46c37b;
  color: white;
}

.btn-blue {
  display: block;
  left: 0;
  top: 0;
  width: 50%;
  background-color: #2196F3;
  color: white;
  font-weight: bold;
  border-radius: .0;
}

.btn-yellow {
  display: block;
  left: 0;
  top: 0;
  width: 50%;
  //background-color: $mk-secondary;
  color: black;
  font-weight: bold;
}

.fuel-total {
  text-align: center;
}

.fuel-totals {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  // text-decoration: underline;
}

.grand-total {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
}

.color-black {
  color: black
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  background-color: rgba(6, 174, 228, 0.1);
  color: wheat;
  text-align: center;
  vertical-align: middle;
}

.ngano {
  color: wheat;
}

.text-yellow {
  //color: $mk-secondary;
}
