<mat-form-field class="cp-spacing">
  <mat-label>Customer ID</mat-label>
  <input matInput [(ngModel)]="payment.transaction.billNumber" />
</mat-form-field>
<mat-form-field class="cp-spacing">
  <mat-label>Reference Number</mat-label>
  <input matInput [(ngModel)]="payment.bank.reference" />
</mat-form-field>
<mat-form-field class="cp-spacing">
  <mat-label>Bank Name</mat-label>
  <input matInput type="number " [(ngModel)]="payment.bank.bank" />
</mat-form-field>
<mat-form-field class="cp-spacing">
  <mat-label>Amount</mat-label>
  <input matInput type="number " [(ngModel)]="payment.transaction.amount" />
</mat-form-field>

<button mat-mini-fab [disabled]="saving" (click)="createPayment()">
  <mat-icon>add</mat-icon>
</button>
