@import "./../../admin";

.home-body {
  //   height: auto;
  min-height: 100%;
  background: $mk-black url("../../../assets/images/home-bg.jpg") no-repeat center center;
  background-size: cover;
  //   color: $mk-white;
  //   text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba($mk-black, 0.5);
}

.home-header {
  padding-top: 50px;
  text-align: left;
}

.home-greeting {
  text-align: left;
  padding-top: 20px;
  color: #fff;
}

//Background Shades
.blue-bg {
  background-color: rgba(6, 174, 228, 0.1);
  color: wheat;
}

.yellow-bg {
  background-color: rgba(251, 241, 22, 0.5);
}

.product-bg {
  background-color: rgba(0, 50, 200, 0.1);
  color: $mk-white;
  font-weight: 500px;
}

.price-bg {
  background-color: rgba(30, 100, 108, 0.1);
}
