<nav [hidden]="sales" [ngClass]="{'bg-color-light': ['31','32','33','34','35','36'].indexOf(AppConfig.colorOption) >= 0,
               'bg-color-dark': ['31','32','33','34','35','36'].indexOf(AppConfig.colorOption) < 0 }"
     class="app-sidebar"
     myAutoCloseMobileNav>

  <section class="sidebar-header" style="line-height: 105px !important; height: 105px !important; background: #393a3d;">
    <img alt="" class="rounded nav-img" src="assets/images/ee.svg">
    <a [routerLink]="['/admin']" class="brand">{{AppConfig.brand}}</a>
    <a (click)="toggleCollapsedNav()" class="collapsednav-toggler" href="javascript:">
      <i *ngIf="this.AppConfig.navCollapsed" class="material-icons">radio_button_unchecked</i>
      <i *ngIf="!this.AppConfig.navCollapsed" class="material-icons">radio_button_checked</i>
    </a>
  </section>

  <section class="sidebar-content">
    <my-app-sidenav-menu></my-app-sidenav-menu>
  </section>

  <section class="sidebar-footer">
    <ul class="nav">
      <li><a aria-label="menu" mat-button target="_blank"><i class="nav-icon material-icons">help</i><span
        class="nav-text"><span>Help</span> & <span>Support</span></span></a></li>
    </ul>
  </section>
</nav>
