@import "./../../../../admin";

::ng-deep .mat-input-placeholder {
  text-align: center;
}

::ng-deep .mat-input-element {
  text-align: center;
}

.btn-reset {
  position: absolute;
  left: 50%;
}

.mat-icon {
  color: $mk-white;
}

.btn-pms {
  background-color: $mk-pms;
  color: $mk-white;
}

.btn-ago {
  background-color: $mk-ago;
  color: $mk-white;
}

.btn-ik {
  background-color: $mk-ik;
  color: $mk-white;
}
