<div class="page-auth home-body">
  <div class="main-body">
    <div class="card blue-bg">
      <div class="card-content">
        <div class="logo">
          <img alt="" class="img-responsive" src="../../assets/images/home-header.png">
        </div>
        <!--span class to show if there was an error while loggin in  -->
        <!--Button to login  -->
        <button (click)="loginWithGoogle()" class="btn btn-danger btn-block" id="google"><i aria-hidden="true"
                                                                                            class="fa fa-google-plus"></i>
          Login With Google
        </button>
        <!-- <button (click)="loginWithFacebook()" id="facebook" class="btn btn-primary btn-block"><i class="fa fa-facebook" aria-hidden="true"></i> Login With Facebook</button>
        <button (click)="loginWithTwitter()" id="twitter" class="btn btn-info btn-block"><i class="fa fa-twitter" aria-hidden="true"></i> Login With Twitter</button> -->
        <!-- <p align="center">OR</p>

    <form name="material_login_form" class="md-form-auth form-validation" ng-submit="onSubmit()">
       <fieldset>
         <div class="form-group">
           <mat-form-field class="full-width mat-icon-left">
             <mat-icon class="material-icons">mail_outline</mat-icon>
             <input required matInput exampledata="email" name="email" placeholder="Email">
           </mat-form-field>
         </div>
         <div class="form-group">
           <mat-form-field class="full-width mat-icon-left">
             <mat-icon class="material-icons">lock_outline</mat-icon>
             <input required matInput exampledata="password" name="password" placeholder="Password">
           </mat-form-field>
         </div>
         <button exampledata="submit" mat-raised-button exampledata="button" color="primary" class="float-right">Login</button>
       </fieldset>
     </form> -->
        <br>
        <div class="additional-info">
          <h5><a [routerLink]="['/']"><i class="fa fa-arrow-circle-o-left"></i> Back</a></h5>
          <!-- <span class="divider-h"></span> -->
          <!-- <a href="#">To Emkay Now</a> -->
        </div>

      </div>
    </div>
  </div>
</div>
