@import "./../../admin";

table {
  width: auto;
  align-content: center;
}

.mat-header-cell {
  color: $mk-primary;
}

.color-pms {
  color: $mk-pms;
  font-size: 14px;
}

.color-ago {
  color: $mk-ago;
  font-size: 14px;
}

.color-ik {
  color: $mk-ik;
  font-size: 14px;
}
