<div class="container-fluid">
  <mat-card>
    <mat-card-content class="ot-header">
      <div class="row">
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Select the search criteria</mat-label>
            <mat-select [(value)]="selectedCriteria">
              <mat-option *ngFor="let option of searchCriteria" [value]="option.id">
                {{option.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-3" [ngSwitch]="selectedCriteria">
          <div *ngSwitchCase="0">
            <div>
              <mat-slide-toggle [(ngModel)]="searchRange">Range</mat-slide-toggle>
            </div>
            <div>
              <mat-form-field [formGroup]="dateForm">
                <input matInput placeholder="Choose a date" [satDatepicker]="picker" formControlName="date">
                <sat-datepicker #picker orderPeriodLabel="month" [rangeMode]="searchRange"
                  [selectFirstDateOnClose]="true"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              </mat-form-field>
            </div>
          </div>
          <div *ngSwitchCase="1">

            <mat-form-field class="full-width">
              <input [matAutocomplete]="auto" aria-label="Company Name" [formControl]="companyName" matInput
                placeholder="Company name" type="text">

              <mat-icon matPrefix> account_balance</mat-icon>
              <span matPrefix> &nbsp; </span>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option (onSelectionChange)="companyselect(option)" *ngFor="let option of filteredCompanies | async"
                  [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-spinner *ngIf='loadingcustomers' [diameter]="19" matSuffix></mat-spinner>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="2">
            <div class="row">
              <div>
                <mat-button-toggle-group name="FUELTYPE" aria-label="Fuel Type">
                  <mat-button-toggle value="PMS">PMS</mat-button-toggle>
                  <mat-button-toggle value="AGO">AGO</mat-button-toggle>
                  <mat-button-toggle value="IK">IK</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Batch #</mat-label>
                  <input aria-label="BATCH NUMBER" [formControl]="batch" matInput placeholder="BATCH #" type="text">
                </mat-form-field>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-1">
          <button mat-fab aria-label="Search" (click)='search()'>
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
<app-results-table [loadingordders]="loadingordders" [orders]="fetchedOrders"></app-results-table>