<div class="container-fluid">
  <mat-card>
    <mat-card-content class="ot-header">
      <div class="row">
        <div class="col-md-11">
          <mat-form-field>
            <mat-label>Select the search criteria</mat-label>
            <mat-select [(value)]="selectedCriteria">
              <mat-option *ngFor="let option of searchCriteria" [value]="option.id">
                {{option.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <button mat-fab aria-label="Search" (click)='search()'>
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>

      <div [ngSwitch]="selectedCriteria">
        <div *ngSwitchCase="0" class="row">
          <div class="col-md-1">
            <mat-slide-toggle [(ngModel)]="searchRange">Range</mat-slide-toggle>
          </div>
          <div class="col-md-11">
            <mat-form-field [formGroup]="dateForm">
              <input matInput placeholder="Choose a date" [satDatepicker]="picker" formControlName="date">
              <sat-datepicker #picker [rangeMode]="searchRange"></sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </mat-form-field>
          </div>
        </div>
        <div *ngSwitchCase="1">Coming Soon</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<app-results-table></app-results-table>