<legend matDialogTitle>Loading Compartments for Truck 1</legend>
<mat-dialog-content>
  <div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>
      <span [matTooltipPosition]="position2" class="btn btn-black btn-block"
            matTooltip="PMS">{{truck.pmsQty - pmsQty()}}</span>
    </div>
    <div fxFlex>
      <span [matTooltipPosition]="position2" class="btn btn-warning btn-block"
            matTooltip="AGO">{{truck.agoQty - agoQty()}}</span>
    </div>
    <div fxFlex>
      <span [matTooltipPosition]="position2" class="btn btn-success btn-block"
            matTooltip="IK">{{truck.ikQty - ikQty()}}</span>
    </div>
  </div>
  <br>
  <div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #pmsC1="ngModel" (ngModelChange)="pmsQty()" [(ngModel)]="pms_c1"
               [disabled]='!iscompartmentFree("pms", 1)' matInput min="0" name="pmsC1"
               placeholder="C1" required type="number" value="{{pms_c1}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                  matTooltip="PMS">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #pmsC2="ngModel" (ngModelChange)="pmsQty()" [(ngModel)]="pms_c2"
               [disabled]='!iscompartmentFree("pms", 2)' matInput min="0" name="pmsC2"
               placeholder="C2" required type="number" value="{{pms_c2}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                  matTooltip="PMS">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #pmsC3="ngModel" (ngModelChange)="pmsQty()" [(ngModel)]="pms_c3"
               [disabled]='!iscompartmentFree("pms", 3)' matInput min="0" name="pmsC3"
               placeholder="C3" required type="number" value="{{pms_c3}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                  matTooltip="PMS">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #pmsC4="ngModel" (ngModelChange)="pmsQty()" [(ngModel)]="pms_c4"
               [disabled]='!iscompartmentFree("pms", 4)' matInput min="0" name="pmsC4"
               placeholder="C4" required type="number" value="{{pms_c4}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                  matTooltip="PMS">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #pmsC4="ngModel" #pmsC5="ngModel" (ngModelChange)="pmsQty()" [(ngModel)]="pms_c5"
               [disabled]='!iscompartmentFree("pms", 5)' matInput min="0"
               name="pmsC5" placeholder="C5" required type="number"
               value="{{pms_c5}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                  matTooltip="PMS">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #pmsC4="ngModel" #pmsC6="ngModel" (ngModelChange)="pmsQty()" [(ngModel)]="pms_c6"
               [disabled]='!iscompartmentFree("pms", 6)' matInput min="0"
               name="pmsC6" placeholder="C6" required type="number"
               value="{{pms_c6}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                  matTooltip="PMS">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #pmsC4="ngModel" #pmsC7="ngModel" (ngModelChange)="pmsQty()" [(ngModel)]="pms_c7"
               [disabled]='!iscompartmentFree("pms", 7)' matInput min="0"
               name="pmsC7" placeholder="C7" required type="number"
               value="{{pms_c7}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-black" matPrefix
                  matTooltip="PMS">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
  </div>
  <div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #agoC1="ngModel" (ngModelChange)="agoQty()" [(ngModel)]="ago_c1"
               [disabled]='!iscompartmentFree("ago", 1)' matInput min="0" name="ago_c1"
               placeholder="C1" required type="number" value="{{ago_c1}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning" matPrefix
                  matTooltip="AGO">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #agoC2="ngModel" (ngModelChange)="agoQty()" [(ngModel)]="ago_c2"
               [disabled]='!iscompartmentFree("ago", 2)' matInput min="0" name="ago_c2"
               placeholder="C2" required type="number" value="{{ago_c2}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning" matPrefix
                  matTooltip="AGO">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #agoC3="ngModel" (ngModelChange)="agoQty()" [(ngModel)]="ago_c3"
               [disabled]='!iscompartmentFree("ago", 3)' matInput min="0" name="ago_c3"
               placeholder="C3" required type="number" value="{{ago_c3}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning" matPrefix
                  matTooltip="AGO">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #agoC4="ngModel" (ngModelChange)="agoQty()" [(ngModel)]="ago_c4"
               [disabled]='!iscompartmentFree("ago", 4)' matInput min="0" name="ago_c4"
               placeholder="C4" required type="number" value="{{ago_c4}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning" matPrefix
                  matTooltip="AGO">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #agoC5="ngModel" (ngModelChange)="agoQty()" [(ngModel)]="ago_c5"
               [disabled]='!iscompartmentFree("ago", 5)' matInput min="0" name="ago_c5"
               placeholder="C5" required type="number" value="{{ago_c5}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning" matPrefix
                  matTooltip="AGO">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #agoC6="ngModel" (ngModelChange)="agoQty()" [(ngModel)]="ago_c6"
               [disabled]='!iscompartmentFree("ago", 6)' matInput min="0" name="ago_c6"
               placeholder="C6" required type="number" value="{{ago_c6}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning" matPrefix
                  matTooltip="AGO">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #agoC7="ngModel" (ngModelChange)="agoQty()" [(ngModel)]="ago_c7"
               [disabled]='!iscompartmentFree("ago", 7)' matInput min="0" name="ago_c7"
               placeholder="C7" required type="number" value="{{ago_c7}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-warning" matPrefix
                  matTooltip="AGO">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
  </div>
  <div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #ikC1="ngModel" (ngModelChange)="ikQty()" [(ngModel)]="ik_c1" [disabled]='!iscompartmentFree("ik", 1)'
               matInput min="0" name="ik_c1"
               placeholder="C1" required type="number" value="{{ik_c1}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success" matPrefix
                  matTooltip="IK">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #ikC2="ngModel" (ngModelChange)="ikQty()" [(ngModel)]="ik_c2" [disabled]='!iscompartmentFree("ik", 2)'
               matInput min="0" name="ik_c2"
               placeholder="C2" required type="number" value="{{ik_c2}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success" matPrefix
                  matTooltip="IK">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #ikC3="ngModel" (ngModelChange)="ikQty()" [(ngModel)]="ik_c3" [disabled]='!iscompartmentFree("ik", 3)'
               matInput min="0" name="ik_c3"
               placeholder="C3" required type="number" value="{{ik_c3}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success" matPrefix
                  matTooltip="IK">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #ikC4="ngModel" (ngModelChange)="ikQty()" [(ngModel)]="ik_c4" [disabled]='!iscompartmentFree("ik", 4)'
               matInput min="0" name="ik_c4"
               placeholder="C4" required type="number" value="{{ik_c4}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success" matPrefix
                  matTooltip="IK">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #ikC5="ngModel" (ngModelChange)="ikQty()" [(ngModel)]="ik_c5" [disabled]='!iscompartmentFree("ik", 5)'
               matInput min="0" name="ik_c5"
               placeholder="C5" required type="number" value="{{ik_c5}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success" matPrefix
                  matTooltip="IK">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #ikC6="ngModel" (ngModelChange)="ikQty()" [(ngModel)]="ik_c6" [disabled]='!iscompartmentFree("ik", 6)'
               matInput min="0" name="ik_c6"
               placeholder="C6" required type="number" value="{{ik_c6}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success" matPrefix
                  matTooltip="IK">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input #ikC7="ngModel" (ngModelChange)="ikQty()" [(ngModel)]="ik_c7" [disabled]='!iscompartmentFree("ik", 7)'
               matInput min="0" name="ik_c7"
               placeholder="C7" required type="number" value="{{ik_c7}}">
        <mat-icon [matTooltipPosition]="position" class="nav-icon nav-dot material-icons color-success" matPrefix
                  matTooltip="IK">fiber_manual_record
        </mat-icon>
        <span matPrefix> &nbsp; </span>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<hr>
<button class="btn btn-danger float-left" matDialogClose>DISMISS</button>

<button (click)="saveCompartments(truck)" class="btn btn-primary float-right">SAVE</button>
