<div fxLayout="row" fxLayoutGap="10">
    <div fxFlex="45%">
        <h1 mat-dialog-title>Fuel Transfer</h1>
    </div>
    <div fxFlex="5%">
        <mat-spinner *ngIf="loadingDepotConfig" diameter="20"></mat-spinner>
    </div>
    <div fxFlex="50%">
        <span>New {{fuelType}} Qty at {{selectedDepot?.depot.Name}} Depot: 
            {{selectedDepot?.stock.qty[fuelType].ase + (+qtyToDrawControl.value)}} </span>
    </div>
  </div>

<div mat-dialog-content class="parent-div">
    <mat-form-field>
        <mat-label>Select destination Depot</mat-label>
        <mat-select [formControl]="depotControl">
            <mat-option *ngFor="let depot of privateDepots" [value]="depot">
                {{depot.Name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input [formControl]="qtyToDrawControl" matInput placeholder="Enter ASE amount to transfer">
    </mat-form-field>

    <div *ngIf="qtyToDrawControl.valid && selectedDepot && !loadingDepotConfig">
        <app-entry-selector [fuelType]='fuelType' [qtyToDraw]="+qtyToDrawControl.value"
            (selectedEntries)="selectedEntries = $event" (validTotals)="validTotals = $event"
            (validEntryForms)="validEntryForms = $event">
        </app-entry-selector>
    </div>

</div>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!validEntryForms || !qtyToDrawControl.valid || !validTotals"
        (click)="saveEntryChanges()" cdkFocusInitial>
        Transfer
    </button>
    <mat-progress-spinner *ngIf="saving" diameter="20">
    </mat-progress-spinner>
</mat-dialog-actions>