<h1 mat-dialog-title>Fuel Transfer</h1>

<div mat-dialog-content class="parent-div">
    <mat-form-field>
        <mat-label>Select destination Depot</mat-label>
        <mat-select [formControl]="depotControl">
            <mat-option *ngFor="let depot of privateDepots" [value]="depot">
                {{depot.Name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input [formControl]="qtyToDrawControl" matInput placeholder="Enter ASE amount to transfer">
    </mat-form-field>

    <mat-spinner *ngIf="loadingDepotConfig"></mat-spinner>

    <div *ngIf="qtyToDrawControl.valid && selectedDepot && !loadingDepotConfig">
        <app-entry-selector [fuelType]='fuelType' [qtyToDraw]="+qtyToDrawControl.value"
            (selectedEntries)="selectedEntries = $event" (validTotals)="validTotals = $event"
            (validEntryForms)="validEntryForms = $event">
        </app-entry-selector>
    </div>

</div>
<mat-dialog-actions align="end">
    <span>{{selectedDepot?.depot.Name}} New {{fuelType}} Quantity
        {{selectedDepot?.stock.qty[fuelType].ase + (+qtyToDrawControl.value)}} </span>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!validEntryForms || !qtyToDrawControl.valid || !validTotals"
        (click)="saveEntryChanges()" cdkFocusInitial>
        Transfer
    </button>
    <mat-progress-spinner *ngIf="saving">
    </mat-progress-spinner>
</mat-dialog-actions>